#root {
  --charcoal: #252525;
  --cream: #f5efde;
  display: flex;
  margin: 2rem;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--charcoal);
  color: var(--cream);
  width: 100%;
  display: flex;
  place-items: flex-start center;
}

h1 {
  text-align: center;
}
